salesforce_sfdx/main/default/flows/EmailOPMPaidStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OtherPayeeEmail</name>
        <label>OtherPayeeEmail</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>vlocity_cmt__Application__c.PaidProjectOtherEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>application id</description>
        <name>recordId</name>
        <label>recordId</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>vlocity_cmt__Application__c.PaidProjectOPOEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OtherPayeeEmail</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <description>email original project owner when paid status is set and date is not null or is changed</description>
    <interviewLabel>Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailOPMPaidStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>recordId</targetReference>
        </connector>
        <filters>
            <field>Payment_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>vlocity_cmt__Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>