salesforce_sfdx_QA/main/default/flows/Eligibility_Override_Approval_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Eligibility_Override_Aprroval</name>
        <label>Eligibility Override Aprroval</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Override_Reqqest_for_Eligibility</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>erecordid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <dynamicChoiceSets>
        <name>EligibilityRule</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Eligibility_Rule__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Program_Code</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Name__c</picklistField>
        <picklistObject>Eligibility_Rule__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Eligibility Override Approval Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eligibility Override Approval Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Eligibility_Rule_ID</name>
        <label>get Eligibility Rule ID</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Eligibity_Rule</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program_Code</elementReference>
            </value>
        </filters>
        <object>Eligibility_Rule__c</object>
        <outputAssignments>
            <assignToReference>erecordid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Eligibility_Override_Request_Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CE_Eligibility_Override_Request__c</field>
            <value>
                <elementReference>Eligibility_Override_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Eligibity_Rule</name>
        <label>update Eligibity Rule</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Eligibility_Override_Aprroval</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program_Code</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligibility_Override_Request_Date__c</field>
            <value>
                <elementReference>Eligibility_Override_Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_Override_Request_Reason__c</field>
            <value>
                <elementReference>Reason_for_override</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Eligibility_Rule__c</object>
    </recordUpdates>
    <screens>
        <name>Eligibility_Override_Request_Success</name>
        <label>Eligibility Override Approval Request</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p>&lt;b style="font-size: 16px; color: rgb(16, 154, 4);">Your Request has been submitted successfully.&lt;/b>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Input_Params</name>
        <label>Enter Input Params</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Eligibility_Rule_ID</targetReference>
        </connector>
        <fields>
            <name>Program_Name</name>
            <choiceReferences>Program_Code</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_Override_Request</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Eligibility Override Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_override</name>
            <dataType>String</dataType>
            <fieldText>Reason for override</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_Override_Request_Date</name>
            <dataType>Date</dataType>
            <fieldText>Eligibility Override Request Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Input_Params</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>erecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>