salesforce_sfdx_QA/main/default/flows/LifeCycleNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>CureActionProjectOwner</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_EngineeringEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A2</name>
        <label>CureActionEngMngr</label>
        <locationX>1100</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_EngineeringEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_QAmanagerEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>QA manager email</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_QAmanagerEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_BDMemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>emailBDM</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_BDMemail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_PCemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A2</name>
        <label>emailPC</label>
        <locationX>1500</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_PCemail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_InspectionsManagerEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>email Inspections manager</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_InspectionsManagerEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_EngineeringEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Eng Manager Email</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_EngineeringEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>Project Owner Email</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_PCemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>EmailPCPendingSignature</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_PCemail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_QAmanagerEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>QA Post Email</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_QAmanagerEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_EngineeringEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Eng Manager Email</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_EngineeringEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Project Owner Email</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_BDMemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>BDM email</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_BDMemail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Project Manager Email</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_29_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_Ops</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A2</name>
        <label>Ops Manager Email</label>
        <locationX>2900</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_Ops</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>PM email</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_BDMemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Email BD</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_BDMemail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_33_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_PCemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A2</name>
        <label>Email PC</label>
        <locationX>3300</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_PCemail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_33_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_ProjectOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A3</name>
        <label>Email PM</label>
        <locationX>3300</locationX>
        <locationY>400</locationY>
        <actionName>vlocity_cmt__Application__c.PL_ProjectOwner</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_Ops</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>EmailOps</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_Ops</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_EngineeringEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>EmailEngManagerTechReview</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_EngineeringEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_PCemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>EmailPCPOL</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_PCemail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_BDMemail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>EmailBDPOL</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>vlocity_cmt__Application__c.PL_BDMemail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PL_InspectionsManagerEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>InspectionsEmail</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>vlocity_cmt__Application__c.PL_InspectionsManagerEmail</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>PendingSignature</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>CureActionPreInsp</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>QA status</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Installation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Post Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Cure Post Inspections</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>AppSubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>QA Post Inspection</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Final Engineering Review</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Final Review</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Acquired Approved</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Submitted for Payment</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TechReview</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>POL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>PreInspection</label>
        </rules>
    </decisions>
    <description>Internal emails every time the status changes</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) , ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Pending eSignature")  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) , ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Pending eSignature")  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Cure Action Pre-Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Cure Action Pre-Inspection")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "QA/QC Pre-Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "QA/QC Pre-Inspection")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Installation") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Installation")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Post Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Post Inspection")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Cure Action Post Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Cure Action Post Inspection")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "QA/QC Post-Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "QA/QC Post-Inspection")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Final Engineering Review") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Final Engineering Review")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Final Review") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Final Review")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Acquired-Approved") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Acquired-Approved")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Submitted for Payment") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Submitted for Payment")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Application Submitted") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Application Submitted")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Paid") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Paid")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Cancelled") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Cancelled")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Technical Review") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Technical Review")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Preliminary Offer Letter") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Preliminary Offer Letter")</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([vlocity_cmt__Application__c].vlocity_cmt__Status__c) &amp;&amp;  ISPICKVAL([vlocity_cmt__Application__c].vlocity_cmt__Status__c, "Pre-Inspection") </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.vlocity_cmt__Status__c}) &amp;&amp;  ISPICKVAL({!myVariable_current.vlocity_cmt__Status__c}, "Pre-Inspection")</expression>
    </formulas>
    <interviewLabel>LifeCycleNotifications-2_InterviewLabel</interviewLabel>
    <label>LifeCycleNotifications</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>vlocity_cmt__Application__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>vlocity_cmt__Application__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__Application__c</objectType>
    </variables>
</Flow>